
<!DOCTYPE html>
<html>
  <head>
    <!--STYLES AND GRIDS-->
    <meta name="viewport" content="width=devicel-width,initial-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Work+Sans" rel="stylesheet"><link
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/7d2928d3e2.js"></script>
  </head>
  <body>

<header id="home" class="grid">
  <div class="col-6">
    <img src="https://unsplash.it/200/50/?random" alt="this is a random picutre that unsplash gave me"/>
  </div>
  <nav class="col-6">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
  </nav>

  <div class="col-12 align-center">
    <h1> KERRALIE NARDELLI </h1>
    <h2> CODING BEGINNER </h2>
    <i class="fa fa-anchor fa-2x" aria-hidden="true"></i>
    <h4> Perth Western Australia </h4>
  </div>
</header>
{{content}}

<footer id="get-in-touch">
    <h2> GET IN TOUCH </h2>
  <div class="footerForm">
    <form method="POST" action="http://formspree.io/keznjoe@bigpond.com">
      <label for="name">name</label>
      <input id="name" type="text" placeholder="your name" name="name">
      <label for="email"></label>
      <input type="email"placeholder="your email" id="email" name="email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</footer>
